{% extends 'shop/base.html' %}
{% block content %}
    <div class="about-us-container">
        <p class="text-about-me-title">Cześć!</p>
        <p>
            Jesteśmy UniqOL, a nasza pasja to tworzenie ręcznie robionej biżuterii z kamieni naturalnych.
            Pomysł narodził się z miłości do pięknych, unikatowych dodatków. Razem z moją siostrą odkryłyśmy,
            jak wiele radości i satysfakcji daje tworzenie czegoś wyjątkowego własnymi rękami.
            Po wielu inspiracjach i próbach, postanowiłyśmy podzielić się naszą pasją z innymi.
            Każda nasza bransoletka, naszyjnik czy kolczyki to efekt naszej pracy, staranności i serca włożonego w każdy szczegół. Tworzymy biżuterię, która nie tylko pięknie wygląda, ale również opowiada historię — o naturze, pasji i wyjątkowości każdej osoby, która ją nosi.
            Dziękujemy, że jesteś tutaj i mamy nadzieję, że znajdziesz u nas coś, co podkreśli Twoją unikalność!
        </p>
    </div>
{% endblock %}
