{%  extends 'shop/base.html' %}
{% block content %}
<div class="care-container">
    <p class="care-title">Dbaj o UniqOL</p>
    <p>Złocenie to proces nakładania cienkiej warstwy 24k złota na biżuterię srebrną,
        co sprawia, że biżuteria zyskuje wyjątkowy blask. Należy jednak pamiętać,
        że złocenie jest warstwą, która z czasem może tracić swój połysk,
        nawet przy odpowiedniej pielęgnacji. Oto kilka wskazówek,
        jak zadbać o pozłacaną biżuterię, by dłużej cieszyć się jej pięknem:
    </p>
    <ul>
        <li>Unikaj kontaktu z wodą, detergentami oraz perfumami.</li>
        <li>Chroń biżuterię przed nadmiernym narażeniem na kurz oraz działanie promieni słonecznych.</li>
        <li>Unikaj kontaktu z kosmetykami pielęgnacyjnymi, takimi jak balsamy, kremy czy dezodoranty.</li>
    </ul>
    <p>
        Pamiętaj, że złocenie to tylko cienka warstwa złota,
        która naturalnie będzie się ścierać z upływem czasu.
        Chociaż jest to proces nieunikniony, odpowiednia dbałość o
        biżuterię pozwala przedłużyć jej piękno.
    </p>
</div>
{% endblock %}