{%  extends 'shop/base.html' %}
{% block content %}
        <h1>{{product.name}}</h1>
        <div>
            {% for image in images %}
                <img src="{{ image.image.url }}" alt="{{ product.name }}" style="max-width: 200px; max-height: 200px;"/>
            {% endfor %}
        </div>
        <p>Cena: {{product.price}}</p>
        <p>Opis: {{product.description}}</p>
        <form method="post" action="{% url 'add_to_cart' product.pk %}">
            {% csrf_token %}
        <button type="submit">Dodaj do koszyka</button>
</form>



{% endblock %}