{%  extends 'shop/base.html' %}
{% block content %}
<form action="{% url 'search' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Szukaj">
</form>
{% if products %}
<ul>
    {% for product in products %}
    <img src="{{ product.productimages_set.first.image.url  }}" alt="{{ item.product.name }}"
         style="max-width: 300px; max-height: 300px;"/>
    <a href="{% url 'product_details' product.pk %}">{{ product.name }} {{ product.price }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if categories %}
<ul>
    {% for category in categories %}
    {% for product in category.product_set.all %}
    <li><img src="{{ product.productimages_set.first.image.url  }}" alt="{{ item.product.name }}"
         style="max-width: 300px; max-height: 300px;"/>
        <a href="{% url 'product_details' product.pk %}">{{ product.name }} {{ product.price }}</a></li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}